body {
  background-color: whitesmoke;
}

.div-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin: 30px;
  flex-direction: column;
}

.main-heading {
  color: rgb(0, 157, 157);
  text-align: center;
}


/* Style for the select element itself */
.select-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

/* Style for dropdown options */
.select-menu option {
  background-color: #fff;
  color: #333;
  font-size: 16px;
}

/* Style for selected option */
.select-menu option:checked {
  background-color: #009e9e;
  color: #fff;
}

/* Style for dropdown when open */
.select-menu:active,
.select-menu {
  border-color: #00ff95;
}

.question-container {
  width: 100vw;
  flex-direction: column;
}

.buttons button {
  background-color: #00c7b8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px 10px;
  width: 100px;
}

.buttons button:hover {
  background-color: #009e8e;
}

/* Apply this style to your input table element */
table.input-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

/* Style for table headers in the input table */
table.input-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

/* Style for table cells in the input table */
table.input-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Style for table rows in the input table */
table.input-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for the input table header row */
table.input-table tr.header {
  background-color: #333;
  color: white;
}


/* Style for table headers */

/* Apply basic styling to the table */
table#solution-table {
  border-collapse: collapse;
  width: 200px;
  /* Set a fixed table width */
  margin: 0 auto;
}

/* Style for table headers */
table#solution-table th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  /* Add vertical borders */
}

/* Style for table rows */
table#solution-table tr {
  border-bottom: 1px solid #ddd;
}

/* Alternate row background color for better readability */
table#solution-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for table cells */
table#solution-table td {
  padding: 10px;
  min-width: 100px;
  /* Set a minimum width for cells */
  border: 1px solid #ddd;
  /* Add vertical borders */
}




#solution-div {

  font-size: 200%;
}

#clear-button {
  background-color: #ff3333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect */
#clear-button:hover {
  background-color: #cc0000;
}